@{
    ViewData["Title"] = "View Bug Tickets";
}
@model BugTracker.ViewModels.TicketViewModel




<h1 class="dash-title">Manage Bug Tickets</h1>
<table class="table table-striped table-bordered table-hover">
    @* Project list *@
    @if (Model.bugTicketReadableList.Count != 0)
    {
        <tr>
            <td>Title</td>
            <td>Severity</td>
            <td>Status</td>
            <td>Project Parent</td>
            <td></td>
        </tr>

        @foreach (var item in Model.bugTicketReadableList)
        {
            <tr>
                <td>
                    @item.Title
                </td>

                <td>
                    @item.SeverityReadable
                </td>

                <td>
                    @item.StatusReadable
                </td>

                <td>
                    @item.ProjectParentReadable
                </td>


                <td class="text-center">

                    <a asp-controller="Ticket" asp-action="Details" asp-route-ticketId="@item.Id" class="btn btn-sm btn-outline-primary">Details</a>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>
                Looks like there are no Tickets<br>Make some with the create button
            </td>
        </tr>
    }
</table>

<a asp-controller="Ticket" asp-action="Create" class="btn btn-sm btn-outline-success">Create</a>

