@{ ViewData["Title"] = "Role Assignment"; }
@model List<BTUser>

<h1>Role Assignment</h1>
<table class="table table-striped table-bordered table-hover">
    @* User list *@
    @if (Model.Count != 0)
    {
        <tr class="text-center">
            <td>Full Name</td>
            <td>User Name</td>
            <td>Role</td>
        </tr>
        @foreach (BTUser item in Model)
        {
            <tr>
                @* Full name *@
                <td>
                    @item.FirstName @item.LastName
                </td>

                @* Username *@
                <td>
                    @item.UserName
                </td>

                @* Role (Select) *@
                <td>
                    <form asp-controller="Role" asp-action="UserRoleUpdate" method="post">
                        @Html.HiddenFor(model => item.Id)
                        @Html.HiddenFor(model => item.StringId)
                        <div class="input-group">
                            <select asp-items="@(Html.GetEnumSelectList<BugTracker.Models.BTUserRoles>())" asp-for="@item.Role" class="form-control "></select>
                            @* Update btn *@
                            <button type="submit" class="btn btn-outline-primary input-group-append">Update</button>
                        </div>
                    </form>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>
                Looks like there are no users!
            </td>
        </tr>
    }
</table>
